@font-face {
  font-family: 'Noto Sans';
  src: url(./fonts/Noto_Sans/NotoSans-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Noto Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
