/* Page */

.shipping-page-wrapper {
  width: 90%;
  margin: 24px auto;
  display: flex;
}

/* Shipping Info Inputs */

.shipping-info-inputs {
  width: 30%;
  height: 200px;
  margin: 8px;
}

.shipping-inputs-form {
  padding: 8px;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shipping-inputs-form > div {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipping-inputs-form label {
  margin-right: 8px;
  width: 140px;
  display: inline-block;
}

.shipping-inputs-form input {
  width: 200px;
  background-color: white;
}

.add-edit-btn-container {
  display: flex;
  justify-content: space-evenly;
  background-color: gold;
  padding: 16px 8px 8px 8px;
}

.add-edit-btn-container button {
  width: 50%;
  margin: 0px 8px;
}

.save-btn-container button {
  margin: 0px 8px;
}

.shipping-info-inputs .error-text {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

/* Shipping Info Table */

.shipping-info-table-container {
  width: 70%;
  margin: 8px;
}

.shipping-info-table thead {
  background-color: gold;
}

.shipping-info-table .tracking-number {
  cursor: pointer;
}
